/* Reset y body */
* {
  margin:0; 
  padding:0; 
  box-sizing:border-box;}
body {
  font-family:"monserrat", sans-serif;
  background: linear-gradient(white);
  overflow-x: hidden;
  position: relative;
  width: 100%;
  
}






/* Header */
header {
  position:fixed;
   width:100%;
    top:0;
     background: white;
  padding:15px 20px; 
  display:flex;
   justify-content:space-between; 
   align-items:center;
    z-index:1000;
}
.logo { 
  height:80px;
  border-radius: 8px;
 }

header nav { 
  display:flex; 
  gap:20px; 
 
}
header nav a { 
  text-decoration:none;
  color:#022285;
  transition:0.3s;
 }
header nav a:hover { 
  color: rgb(249, 22, 22); 
}

.menu-btn {
  margin-right: 10px;
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 2000;
}

/* Hero */
.hero {
   height:90vh;
   display:flex; 
   justify-content:center;
    align-items:center; 
    text-align:center;
       background: url('images/IMG_8398.jpeg');
       background-position: center center;
       background-repeat: no-repeat;
      background-size: cover;
      min-height: 80vh;
      position: relative;
      }
.hero::after { content:""; 
  position:absolute; 
  top:0;;
   left:0; 
  right:0; 
  bottom:0; 
  background:rgba(0,0,0,0.0.5);
}
.hero-content { 
  position:relative;
   z-index:1; 
  }
.hero-content h2 { 
  font-size:48px;
  color: rgb(255, 255, 255);
   margin-bottom:150px;
   animation:glow 2s infinite alternate; 
  }
  .hero-content p {
    color:rgb(187, 14, 14);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
@keyframes glow { from{ text-shadow:0 0 10px white,0 0 20px white; } to{ text-shadow:0 0 20px black,0 0 30px blue; } }



.address {
text-align: center;

}

.h3text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 35px;
}

.address-text {
color: black;
text-align:center;
font-size: 25px;
margin-bottom: 20px;
justify-content: space-between;
}



.button {
  margin-top: 18px;
 
}





.container-pastorinfo {

  display: flex;
  gap: 20px;
  padding: 5px;
  border: #e30d0d;
  margin:  0 auto;
  margin-top: 70px;
}

.pastor-title {
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px auto;
  padding: 0 15px;
  max-width: 90%;
}

.pastor-description {
  font-family: sans-serif;
  font-size: 20px;
  margin:20px auto;
  padding: 0 15px;
  max-width: 90%;
  text-align: justify;
}
 
.photo {
height: auto;
max-width: 100%;
margin: 20px auto;
display: block;
padding-right: 30px;

}

.servicios{
  background-color: rgb(4, 4, 158);
  margin-top: 20px;
}

 .mission-section {
          
            background-color:rgb(159, 157, 196);
            padding: 60px 20px 80px;
            position: relative;
          
           
        }

       

      

        h1 {
            color:#18157c ;
            font-size: 2 rem;
            font-weight: bold;
            margin-bottom: 60px;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-left: 30px;
        }

        .cards-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            margin-bottom: 30px;
        }

        .cards-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-bottom: 30px;
        }

        .card {
            
            padding: 40px 35px;
            border-radius: 20px;
           
        }

        .card:hover {
            transform: translateY(-5px);
           
        }

        .card p {
            color:#18157c ;
            font-size: 1.1rem;
            line-height: 1.7;
            text-align: center;
        }

        @media (max-width: 1024px) {
            .cards-grid,
            .cards-row {
                grid-template-columns: 1fr;
            }

            h1 {
                font-size: 2.0rem;
            }
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
                margin-bottom: 40px;
            }

            .card {
                padding: 30px 25px;
            }

            .card p {
                font-size: 1rem;
            }

            .mission-section {
                padding: 40px 15px 60px;
            }
          }

        .vision {
          padding: 50px 20px 20px;
        }

        .vision-description {
          font-size: 1.2rem;
          line-height: 1.7;
          text-align: center;

        }

        .tag {
          font-weight: bolder;
          font-size: 1.5rem;
        }




/* Sections */

h2 { 
  margin: auto;
  padding-top: 80px;
  text-align:center; 
  font-size:32px; 
  margin-bottom:40px; 
  color:#022285;
 }

.texto { 
  text-align:center; 
  margin:auto; 
  color: rgb(0, 38, 104);}

  .section2 {
background-color:#022285;

 
margin-bottom: 20px;

  }

.nuestros-servicios {
 font-size: 40px;
 text-align: center;
 padding-top: 100px;
}

.button-2 {
width: 100%;
max-width: 300px;
margin: 20px auto;
display: block;
font-size: 26px;
}
 @media screen and (max-width:768px) {
  .button-2 {
    margin: 20px auto;
    
  }
 }

.section1 {
  background-color: #022285; 
  height: 500px;
}
.text-3 {
  color:antiquewhite
}
.button-3 {
  width: 100%;
  max-width: 300px;
  font-size: 26px;
  align-self: center;
margin: 20px auto;
display: block;
}
 @media screen and (max-width:768px) {
  .button-3 {
 margin: auto;
    
  }
 }

/* Fade-in al hacer scroll */
.fade-in { 
  opacity:0; 
  transform:translateY(30px); 
  transition: all 1s ease-out;
 }
.fade-in.show {
   opacity:1; 
   transform:translateY(0);
   }

/* Servicios */

.servicios { 
  display:grid; 
  grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
  gap:20px;
  color:antiquewhite;
  
 }



.card {
   background:rgb(177, 92, 92); 
  padding:20px; 
  border-radius:10px;
   text-align:center;
    transition:transform 0.3s,box-shadow 0.3s;
    
   }
.card:hover { 
  transform:translateY(-10px) scale(1.05); 
  box-shadow:0 0 20px antiquewhite; 
}

/* Slider galería */
.slider { 
  position:relative;
    max-width:800px; 
   margin:auto;
    overflow:hidden; }
.slides { display:flex; transition: transform 0.5s ease-in-out; }
.slides img {
  max-width:100%; 
  border-radius:10px; 
  flex-shrink:0;
 }

.prev, .next {
  position:absolute; top:50%; transform:translateY(-50%);
  background:rgba(0,0,0,0.5); color:#fff; border:none; padding:10px; cursor:pointer; border-radius:50%;
}
.prev { left:10px; } .next { right:10px; }


/*oracion*/

.oracion {
  padding: 80px 20px 20px;
}

.container-oracion {
  display: grid;
 grid-template-columns: repeat(5);
}

.oracion-titulo {
  font-size: 1.5rem;
  color: #18157c;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
 
}

.oracion-description {
  font-size: 1.3rem;
  line-height: 1.7;
  text-align: center;
  padding: 20px 20px 20px;
}

.oracion-button {
  text-align: center;
  justify-content: center;
  
}



/* Formulario */
form { 
  display:flex; 
  flex-direction:column;
   max-width:600px; 
   margin:auto;
    gap:15px; 
   margin-bottom: 50px;
  }

input,textarea {
   padding:12px;
   color: #080707;
    border-color: #080707;
     border-radius:8px; 
     outline:none; 
     font-size:16px; }
.button { 
  background:#022285;
  border:none; 
  padding:12px; 
  border-radius:8px;
  font-size:18px; 
  cursor:pointer; 
  transition:0.3s; 
  color: white;
}
.button:hover { background:red; }


.footer-1 {
  background-color:#022285;
  display:grid;
  text-align: center;
  
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.iddpmi {
  margin:10px auto;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
}

.jesuseselcamino {
  font-size: 30px;
  color: aliceblue;
  margin: 10px auto;
  text-align: center;

}
.email {
  color: antiquewhite;
}

.email a {
  font-size: 16px;
  color: antiquewhite;
  padding-top: 100px;
  text-decoration: none;
}

.phone a {
  font-size: 16px;
  color: antiquewhite;
  padding-top: 20px;
  text-decoration: none;
  padding-left: 20px;
}

.direccion-footer {
  font-size: 16px;
  color: antiquewhite;
  padding-top: 20px;
}

.nacion {
  font-size: 16px;
  color: antiquewhite;
  padding-right: 10px;
}

   .logo-2 {
    width: 150px;
    height: 150px;
    border-radius: 30px;
   
   }

     
   @media screen and (max-width:768px) {
    .footer-1 {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      font-size: 14px;
      padding-bottom: 10px;
      padding-top: 20px;
      text-align: center;
    }
    .logo-2 {
      width: 130px;
      height: 130px;
    }
    .phone a {
      text-decoration: none;
      color: antiquewhite;
    }
   }
   .footer-2 {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    font-size: 12px;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #022285;
    align-items: center;
   
   }

   @media screen and (max-width:768px) {
    .footer-2 {
      flex-direction: column;
      gap: 40px;
      align-items: center;
      font-size: 14px;
      padding-bottom: 150px;
      text-align: center;
     
    }
   }


/* Controles animación */
.controls { position:fixed; bottom:20px; left:50%; transform:translateX(-50%); display:flex; gap:10px; z-index:2; }
.controls button { background:#00d4ff; border:none; padding:10px 20px; border-radius:6px; cursor:pointer; font-weight:bold; }
.controls button:hover { background:#ff00ff; }

/* Responsive */
@media screen and (max-width:768px){
  header nav { 
    display:none; 
    flex-direction:column; 
    background:#022285; 
    position:absolute;
    top:80px; 
    right:0;
    padding:15px;
    border-radius: 8px; 
    text-align: right;
    
  }
 

 header nav a {
    margin: 10px 0;
    display: block;
    color: antiquewhite;
   
    
  }
  nav.active {
    display:flex !important;
  }
  .menu-btn {
    margin-right: 20px;
    display: block;
     cursor:pointer; 
     font-size:2rem; 
     color:#022285;
    }
    
}


@media screen and (max-width: 768px) {
  .texto-biblico {
    font-size: 1em;
  }
}


@media screen and (max-width: 768px) {

    .container-pastorinfo {
    display: flex;
    justify-content: center;
flex-direction: column;
   

   }

  .pastor-title {
    font-size: 1.4em;}
   .pastor-description {
    font-size: 1.2em;
    text-align: justify;
    justify-content: center;
   }
 
   .photo { 
 margin:10px auto;
 max-width: 150px;

   }
    
  }

  /*Pagina de Creemos.html*/

  .hero2 {
   height: 90vh; 
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background:url('imagines-creemos/biblia.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
   position: relative;
  }

.container {
      max-width: 1500px;
      margin: 0 auto;
      padding-top: 40px;
      background-color: rgba(24, 21, 124, 0.07);
    }

    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      padding: 20px;
    }

    .accordion-column {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .accordion-item {
      background: #f0f0f0;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }

    .accordion-header {
      padding: 20px 25px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
      transition: background-color 0.3s;
      font-weight: bold;
      font-size: 16px;
    }

    .accordion-item.clickable .accordion-header:hover {
      background-color: #e0e0e0;
    }

    .accordion-icon {
      font-size: 20px;
      transition: transform 0.3s;
      font-weight: bold;
    }

    .accordion-icon.rotate {
      transform: rotate(180deg);
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
    }

    .accordion-content.show {
      max-height: 800px;
    }

    .accordion-body {
      padding: 25px;
      line-height: 1.7;
      color: #18157c;
      font-size: 15px;
    }

    @media (max-width: 968px) {
      .columns {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }



    /* Pagina de quien es Jesus.html */

    .hero3 {
   height: 90vh; 
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background:url('imagenes-quinesjesus/Copia\ de\ Diseño\ sin\ título.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   
  }

  
 


 .maintext { 
  margin: auto;
  padding-top: 50px;
  text-align:center; 
  font-size:2.25rem; 
  margin-bottom:40px; 
  color:#022285;
 }

 .columnstext {
  margin: auto;
  padding-top: 80px;
  text-align: center;
  font-size: larger;
  color: #18157c;
  
 }

 .columnstext2 {
  margin:auto;
  padding-top: 20px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  
 }

 .columnstext3 {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-size: 1.10rem;
  line-height: 1.5;
 }

 .conocesajesuscontenedor {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 20px 50px 40px;
  background-color: rgba(24, 21, 124, 0.07);
 }



/* Formulario Quien es Jesus */
form { 
  display:flex; 
  flex-direction:column;
   max-width:600px; 
   margin:auto;
    gap:15px; 
   margin-bottom: 50px;
  }

input,textarea {
   padding:12px;
   color: #080707;
    border-color: #080707;
     border-radius:8px; 
     outline:none; 
     font-size:16px; }
button { 
  background:#022285;
  border:none; 
  padding:12px; 
  border-radius:8px;
  font-size:18px; 
  cursor:pointer; 
  transition:0.3s; 
  color: white;
}
button:hover { background:red; }



/* Pagina de el creyente.html */

    .hero4 {
   height: 90vh; 
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background:url('imagen-elcreyente/Diseño\ sin\ título.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   
  }

  .elcreyenteinfo {
  margin: 60px 60px 60px;
  text-align: justify;
  
  }

  .elcreyentecontenido {
    font-size: 18px;

  }

  .elcreyentesubtitulo {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;

  }

  .elcreyentesubtitulo2 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #d56363;

  }
